.menu {
    background-color: #2cd3bd;
    color: white;
    padding: 10px;
    text-align: center;
}
.menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.header-inico {
    background-color: #2cd3bd;
    color: white;
    padding: 10px;
    text-align: center;
    
}
.color__verde{
    font-family: 'Caprasimo', cursive;
    color:#2cd3bd ;
}
.menu__sobremi{
    background-color: #113833;
    color: white;
    padding: 10px;
    text-align: center;
}
.menu__sobremi a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.cabecera__sobremi{
    background-color: #113833;
    color: white;
    padding: 10px;
    text-align: center;
}
.contenidomio{
    background-color: #113833;
    list-style: none;
    text-decoration: none;
}
.menu__github{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.menu__github a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.header__github{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.contenidogithub{
    background-color: #333;
    list-style: none;
    text-decoration: none;
}
.nav-redes {
    background-color: #29a1a1;
    color: white;
    padding: 10px;
    text-align: center;
}
.nav-redes a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.header-redes {
    background-color: #29a1a1;
    color: white;
    padding: 10px;
    text-align: center;
}
.contenidoredes{
    background-color: #29a1a1;
    list-style: none;
    text-decoration: none;
}
.contenido {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.contenido {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.texto{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 245, 245);
    text-align: justify;
}
.menu__porta{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}
.menu__redes{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 245, 245);
    text-align: justify;
}
.cabecera__cursos{
    background-color: #113833;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu__cursos a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.menu__cursos{
    background-color: #113833;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contenidocursos{
    background-color:  #113833;
    list-style: none;
    text-decoration: none;
}
.contenidoporta{
    background-color: #2cd3bd;
    list-style: none;
    text-decoration: none;
}
